.logo-description {
  flex-grow: 2;
  line-height: 30px;
  margin-right: 60px;
}
.bandshite-logo {
  height: 230px;
  width: 230px;
}
.music-loving-quote {
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

