.third-image {
  // height: 165px;
  width: 180px;
  margin: 65px auto;
}

#beverly-website-redesign {
  margin-top: 70px;
}

.lone-paragraph {
  a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
  }
}
