@import "constants.scss";

a {
  text-decoration: none;
}
.horizontal-navigation {
  vertical-align: top;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 2;
  box-shadow: 0 0 5px grey;
  .nav-button {
    width: 90%;
    margin-left: 10px;
  }
}

.bio-content {
  background-color: white;
  margin-top: 15px;
  width: 90%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  font-family: $open-sans-font;
  font-size: 16px;
  margin-top: 40px;
  h1 {
    color: $complement-1;
    padding: 0 15px;
    text-shadow: 1px 2px 2px black;
  }
  h2 {
    font-size: 15px;
    color: $complement-1;
    font-family: $poppins;
  }
  p {
    margin: 20px 15px;
  }
}

.line {
  width: 90%;
  height: 2px;
  background-color: $complement-1;
  text-align: center;
  margin: 10px auto;
}

.other-info {
  // margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 750px) {
    flex-direction: column;
    div {
      margin: 0px;
    }
  }
  div {
    margin: 10px 80px;
    @media (max-width: 750px) {
        margin: 0px;
    }
    font-family: $open-sans-font;
    h2{
      font-size: 19px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
