@import "constants.scss";

a {
  text-decoration: none;
}

.bio-content {
  background-color: white;
  margin-top: 15px;
  width: 90%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  font-family: $open-sans-font;
  font-size: 16px;
  margin-top: 40px;
  @media (max-width: 750px) {
      margin: 0px;
      width: 100%;
      margin-top: 85px;
  }
  h1 {
    color: $complement-1;
    padding: 0 15px;
    text-shadow: 1px 2px 2px black;
  }
  h2 {
    font-size: 15px;
    color: $complement-1;
    text-align: center;
    font-family: $poppins;
    margin: 10px;
  }
  p {
    margin: 20px 15px;
  }
}

.line {
  width: 90%;
  height: 2px;
  background-color: $complement-1;
  text-align: center;
  margin: 10px auto;
}

.other-info {
  // margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 750px) {
    flex-direction: column;
  }
  div {
    margin: 10px 40px;
    @media (max-width: 750px) {
    }
    font-family: $open-sans-font;
    h2{
      font-size: 19px;
      @media (max-width: 750px) {
          text-align: left;
      }
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
