@import 'normalize.scss';
@import 'constants.scss';

body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  // height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // background-color: grey;
  @media (max-width: 750px) {
    padding: 0;
    margin: 0 auto;
  }
}

.header {
  background-image: url('../img/irrbackground.png');
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  // margin: 45px auto;
  height: 100vh;
  background-repeat: no-repeat;
}

.iridescent-nav-bar {
  background-image: url('../img/ir-nav-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.navigation-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  @media (max-width: 750px) {
    justify-content: space-around;
  }
  .nav-group {
    display: flex;
    .nav-logo {
      width: 33px;
      height: 33px;
      padding: 20px 20px 20px 25px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    @media (max-width: 750px) {
      width: 100%;
      justify-content: space-around;
    }
    .nav-link {
      margin-bottom: 6px;
      display: flex;
      justify-content: flex-end;
      opacity: 0.8;
      @include transition(opacity 0.4s);
      .nav-button {
        text-decoration: none;
        color: $white;
        max-width: 160px;
        min-width: 120px;
        @media (max-width: 450px) {
          min-width: 110px;
        }
        @media (max-width: 370px) {
          min-width: 60px;
        }
        .nav-button-text {
          font-family: $open-sans-font;
          color: #424242;
          text-align: center;
        }
      }
    }
    .nav-link:hover {
      opacity: 1;
    }
  }
}
.section-title {
  font-family: $montserrat-font;
  font-size: 22px;
  letter-spacing: 3px;
  margin: 40px auto 30px;
  color: $greyish;
  @media (max-width: 450px) {
    font-size: 20px;
    margin: 20px auto;
  }
}
.name {
  flex: 1 1 auto;
  text-align: left;
  margin-left: 70px;
  @media (max-width: 750px) {
    margin-left: 40px;
  }
  .hi {
    text-decoration: none;
    color: #424242;
    font-size: 85px;
    font-weight: bold;
    margin: 0 0;
    @media (max-width: 750px) {
      font-size: 60px;
    }
  }
  .name-plate {
    font-family: $montserrat-alternates-font;
    display: inline-block;
    @media (max-width: 750px) {
      height: 80px;
    }
  }

  .subtitle {
    font-family: $open-sans-font;
    font-size: 16px;
    margin: 5px 0 0;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 25px;
    color: black;
    width: 60%;
    margin-left: 6px;
    @media (max-width: 750px) {
      font-size: 13px;
      width: 86%;
    }
    @media (max-width: 450px) {
      font-size: 12px;
      margin-top: 15px;
    }
    @media (min-width: 1400px) {
      width: 900px;
      font-size: 17px;
      line-height: 30px;
    }
  }
}

.slash {
  color: $complement-2;
}

.dev {
  color: $complement-3;
}

.work {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 80px;
  .work-piece {
    background-color: #292929;
    position: relative;
    cursor: pointer;
    font-family: $open-sans-font;
    font-weight: 700;
    flex-basis: calc(32%);
    margin-top: 29px;
    min-width: 300px;
    min-height: 350px;
    max-width: 420px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 0;
    overflow: hidden;
    border: 1px solid #adadad;
    h1 {
      font-size: 22px;
      font-family: $montserrat-font;
    }
    @media (max-width: 885px) {
      width: 90%;
      flex-basis: auto;
      margin: 10px auto;
    }
    .work-thumbnail {
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-color: #8a8a8a;
    }
    .work-portfolio-thumb {
      background-image: url('../img/portfolio-tile.png');
    }
    .work-telefix-thumb {
      background-image: url('../img/telefix-tile.png');
    }
    .work-cdc-thumb {
      background-image: url('../img/cdc-tile.png');
    }
    .work-aqua-thumb {
      padding-top: 27px;
      background-size: 170px;
      background-image: url('../img/aqua-tile.png');
    }
    .work-bandshite-thumb {
      background-image: url('../img/bandshite-tile.png');
    }
    .work-beverly-thumb {
      background-image: url('../img/beverly-tile.png');
    }
    .work-rosie-thumb {
      padding-top: 10px;
      background-size: 260px;
      background-image: url('../img/rosie-tile.png');
    }
    .caption {
      position: absolute;
      top: 80%;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $white;
      @include transition(top 0.4s);
      .caption-text {
        font-family: $open-sans-font;
        color: #424242;
        position: absolute;
        top: 5%;
        width: 100%;
        @include transition(top 1.4s);
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 16px;
          margin-top: 40px;
        }
      }
    }
    &:hover {
      .caption {
        top: 0%;
        .caption-text {
          top: 25%;
        }
      }
    }
  }
}
.features {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // background-color: #cacaca;
  background: linear-gradient(-23deg, #828282, #ececec);
  margin: 100px 0;
  @media (max-width: 950px) {
    flex-flow: column;
    height: 940px;
    margin: 0;
  }
  .featured-case-studies {
    width: 33%;
    font-family: $montserrat-font;
    font-size: 16px;
    letter-spacing: 3px;
    margin-left: 55px;
    color: #000;
    h2 {
      font-weight: bold;
    }
    p {
      font-family: $open-sans-font;
      letter-spacing: 1px;
    }
    p a {
      color: black;
    }
    p a:visited {
      color: #30aad2;
    }
    @media (max-width: 1030px) {
      width: 25%;
    }
    @media (max-width: 750px) {
      margin: 0;
      width: 80%;
    }
    @media (max-width: 450px) {
      font-size: 15px;
      margin: 20px auto;
    }
  }
  .work-showcase {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 750px;
    @media (max-width: 1030px) {
      align-content: flex-end;
    }
    @media (max-width: 950px) {
      flex-flow: column;
      align-items: center;
    }
    .work-piece {
      position: relative;
      cursor: pointer;
      font-family: $montserrat-font;
      width: 351px;
      height: 252px;
      text-align: center;
      box-shadow: 0 0;
      overflow: hidden;
      margin: 10px;
      box-shadow: 2px 2px 7px 0px #909090;
      border-radius: 3px;
      @media (max-width: 885px) {
        width: 83%;
      }
      .work-thumbnail {
        position: absolute;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-color: #292929;
        border-radius: 3px;
      }
      .work-cdc-thumb {
        background-image: url('../img/cdc-tile.png');
      }
      .work-telefix-thumb {
        background-image: url('../img/telefix-tile.png');
      }
      .work-beverly-thumb {
        background-image: url('../img/beverly-tile.png');
      }
      .caption {
        position: absolute;
        top: 80%;
        height: 100%;
        width: 100%;
        background-color: $white;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        font-feature-settings: "liga" 0;
        @include transition(top .4s ease-out);
        .caption-text {
          color: #424242;
          position: absolute;
          top: 0px;
          @include transition(top .6s);
          h1 {
            font-size: 22px;
            letter-spacing: 3px;
          }
          p {
            font-family: $open-sans-font;
            font-size: 16px;
            margin-top: 40px;
            padding: 0 24px;
            text-align: left;
          }
        }
      }
      &:hover {
        .caption {
          top: 0px;
          .caption-text {
            top: 25%;
          }
        }
      }
    }
  }
}
.holo-bar {
  width: 100%;
  height: 30px;
  margin: 30px auto;
  background-image: url('../img/holobar.png');
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 750px) {
    height: 60px;
  }
}
.top-holo-bar {
  width: 100%;
  margin: 65px auto 30px;

  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 750px) {
    height: 40px;
  }
}

#bio {
  margin-top: 60px;
}

.bio-content {
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: row;
  font-family: $open-sans-font;
  font-size: 16px;
  line-height: 26px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1200px) {
    width: 100%;
    margin: 25px 0 0 30px;
    flex-direction: column;
  }
  @media (max-width: 450px) {
    width: 100%;
    margin: 0;
  }
  .about {
    width: 85%;
    h1 {
      width: 80%;
      font-family: $montserrat-font;
      font-size: 22px;
      letter-spacing: 3px;
      margin: 20px auto 0;
    }
    p {
      width: 80%;
      margin: 20px auto 0;

      @media (max-width: 450px) {
        font-size: 16px;
        line-height: 26px;
      }
      a {
        text-decoration: underline;
        color: black;
        font-size: 16px;
        font-style: oblique;
        line-height: 26px;
        @media (max-width: 450px) {
          font-size: 16px;
        }
      }
      a:visited {
        color: #30aad2;
      }
    }
    @media (max-width: 1200px) {
      width: 90%;
    }
  }
  .interests {
    h1 {
      font-family: $montserrat-font;
      font-size: 22px;
      letter-spacing: 3px;
    }
    p {
      line-height: 35px;
      font-size: 16px;
      font-family: $open-sans-font;
    }
    @media (max-width: 1200px) {
      width: 72%;
      margin-top: 30px;
    }
  }
}
.other-info {
  display: flex;
  width: 75%;
  justify-content: space-between;
  font-family: $montserrat-font;
  .bio-titles {
    font-size: 19px;
    color: $greyish;
    text-align: center;
  }
  @media (max-width: 750px) {
    flex-direction: column;
  }
  div {
    margin: 10px auto;
  }
}

@keyframes border {
  0% {
    border: 2px solid $complement-1;
  }
  50% {
    border: 2px solid $complement-2;
  }
  100% {
    border: 2px solid $complement-3;
  }
}

/*BOTTOM NAV*/
.bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 25%;
  margin-top: 5px;
}

.icon {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center center;
  height: 4.5em;
  width: 4.5em;
  border-radius: 50%;
  margin: 10px;
  @include transition(background-color 0.4s ease);
  @media (max-width: 450px) {
    height: 3.5em;
    width: 3.5em;
  }
}

.goof {
  @include transition(all 0.4s cubic-bezier(0, 2, 0, 2));

  &:hover {
    background-size: 35%;
  }
}

.icon a {
  display: block;
  height: 100%;
  width: 100%;
}

.linkedin {
  background-image: $linkedin-icon;
  background-size: 50%;

  &:hover {
    background-color: $linkedin-color;
  }
}

.github {
  background-image: $github-icon;
  background-size: 60%;

  &:hover {
    background-color: $github-color;
  }
}

.codepen {
  background-image: $codepen-icon;
  background-size: 70%;

  &:hover {
    background-color: $codepen-color;
  }
}

.dribbble {
  background-image: $dribbble-icon;
  background-size: 65%;
  &:hover {
    background-color: $dribbble-color;
  }
}
